<div id="new" *ngIf="status === STATUS.NEW">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="height">Height</label>
            <input id="height" class="form-control" min="5" max="50" required type="number" [(ngModel)]="config.height"/>
        </div>

        <div class="form-group">
            <label for="width">Width</label>
            <input id="width" class="form-control" min="5"  max="50" required type="number" [(ngModel)]="config.width"/>
        </div>

        <div class="form-group">
            <label for="num_mines">Number of mines</label>
            <input id="num_mines" class="form-control" min="1"  max="{{config.height * config.width /2}}"
                   required type="number" [(ngModel)]="config.num_mines"/>
        </div>

        <button type="submit" class="btn btn-default">Start</button>
        <button type="button" class="btn btn-default" (click)="reset()">Reset</button>
    </form>
</div>

<div id="setted" *ngIf="status === STATUS.SETTLED">
    <div class="form-group">
        <div>Height</div>
        <div class="form-control">{{config.height}}</div>
    </div>

    <div class="form-group">
        <div>Width</div>
        <div class="form-control">{{config.width}}</div>
    </div>

    <div class="form-group">
        <div>Number of mines</div>
        <div class="form-control">{{config.num_mines}}</div>
    </div>
    <button type="button" class="btn btn-default" (click)="finished()">Finished</button>
    <button type="button" class="btn btn-default" (click)="restart()">Restart</button>
    <button type="button" class="btn btn-default" (click)="reconfig()">Reconfig</button>
</div>